/* add your styles here */
* {
	font-family: "Times New Roman";
	padding-left: 20px;
}
body {
	background: url("../../.learn/assets/background-vertical.jpg?raw=true") repeat-y;
}
h1 {
	font-family: "Courier";
	color: red;
}
h2 {
	text-decoration: underline;
}
#id1 {
	background: rgba(0, 0, 1, 0.2);
	padding: 5px;
}
a {
	text-decoration: none;
}
a:hover {
	color: green;
	text-decoration: none;
}
